@media  screen and (max-width:788px) {
    .navlist{
        flex-direction: column;
    }
    .nav{
        flex-direction: column;
        height: 400px;
       transition: all 0.7s ease-out;
       
    }
    .rightnav input{
        width: 100%;

    }
    .btn-om{
        padding: 2px 2px;
    }
    .rightnav{
        text-align: center;
    }
    .burgar{
        display: block;
    }
    .op-res{
       opacity: 0;
    }
    .h-nav-res{
        height: 51px;
    }
    .box{
        flex-direction: column-reverse;
      max-width: 100%;
      padding-top: 10px;
      align-items: center;
    }
    .big-text{
        text-align: center;
    }
    .small-text{
        text-align: center;
    }
    .button{
        text-align: center;
    }
    .scehalf{
        text-align: center;
    }
    .sceondsection{
        max-width: 100%;
        flex-direction: column-reverse;
    }
   
    
.para {
    padding: 0 0px;
}
}